body {
	font-family:Helvetica,Arial,serif;
	}
ul{
	list-style-type: none;
}
html {
	width:100%;
	height:100%;
	background-size: cover;
	background-attachment: fixed;
	/*background-image:url("http://img1.mxstatic.com/wallpapers/27555fdf69f74e30d639dffb43fbd06d_large.jpeg");*/
	background-image:url("http://img1.mxstatic.com/wallpapers/1c3a89d865f64b54d3825dc27dbf7816_large.jpeg");
}

#titre {
	margin-bottom: 60px;
	font-size:20px;
	display:none;
}
#Infoperso, #Formation, #Exppro,#Competence,#langue,#ca {
	font-size:12px;
	margin-top: 30px;
	margin-left:50px;
	width:400px;
	border : solid 1px black;
	border-radius: 10px;
	padding-left: 5px;
	float:left;
}
#Infoperso {
	text-align:center;
}

#photoludo,#photomika,#photoali{
	width:150px;
	height:140px;
	float: left;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}

aside {
	font-size:12px;
	margin-top: 30px;
	margin-left : 50px;
	width:350px;
	display:inline-block;
	vertical-align:top;
	margin-bottom:30px;
}
/*aside,article {
	display:inline-block;
	vertical-align:top;
}*/
footer {
	text-align:center;
	margin-top:50px;
	width:100%;
	bottom:0;
}
.twitter {
	background: transparent url("http://ahamoment-files.s3.amazonaws.com/assets/videos/icon-twitter-eeddaf5f53964c6f9ba9692dbb5cdc42.png") no-repeat ;
	padding:15px;
	margin-right: 15px;;
}
.linkedin {
	background: transparent url("http://www.dupagehabitat.org/images/LinkedInIcon_30x30.png") no-repeat;
	padding:15px;
	margin-right: 15px;
}

.menu {
	font-size:13px;
	text-align :center;
	background-color:#262020;
}
.menu a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 30px;
	display:inline-block;
}
.menu ul {
	display: inline;
	margin: 0;
	padding: 0;
}
.menu ul li {display: inline-block;}
.menu a:hover {background: grey;}
.menu li:hover ul {display: block;}
.menu ul li ul {
	position: absolute;
	width: 164px;
	display: none;
}
.menu ul li ul li { 
	background: #555; 
	display: block; 
}
.menu ul li ul li a {display:block;} 
.menu ul li ul li a:hover {background: #666;}
