body {
	font-family:Helvetica,Arial,serif;
	margin-bottom:-100px;
	}
ul{
	list-style-type: none;
}

#Pageludo {
	/*background-size: cover;
	background-attachment: fixed;
	background-image:url("http://img1.mxstatic.com/wallpapers/27555fdf69f74e30d639dffb43fbd06d_large.jpeg");*/
	color:black;
	padding-bottom:10%
}
#Pageali{
	background-size: cover;
	background-attachment: fixed;
	background-image:url("image_ali.jpg");
	color:white;
	text-align: center;
	padding-bottom:10%
}
#Pagemicka{
	background-size: cover;
	background-attachment: fixed;
	background-image:url("http://img1.mxstatic.com/wallpapers/5e25da9e9198bfe1a353335d80ffe9f0_large.jpeg");
	color:white;
	text-align: center;
	padding-bottom:10%
}
#titre {
	margin-bottom: 60px;
	font-size:20px;
	display:none;
}
#Infoperso, #Formation, #Exppro,#Competence,#langue,#ca {
	font-size:12px;
	margin-top: 30px;
	margin-left:50px;
	width:400px;
	border : solid 1px silver;
	border-radius: 10px;
	padding-left: 5px;
	float: left;
}

#photoludo {
	width:150px;
	height:140px;
	float: right;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}

aside {
	font-size:12px;
	margin-top: 30px;
	margin-left : 50px;
	width:350px;
	display:inline-block;
	vertical-align:top;
}
/*aside,article {
	display:inline-block;
	vertical-align:top;
}*/
.menu {
	top:0px;
	left:0px;
	font-size:13px;
	text-align :center;
	width:100%;
	background-color:#262020;
	opacity:0.7;
}
.menu a {
	text-decoration: none;
	color: white;
	font-size: 20px;
	padding: 30px;
	display:inline-block;
}
.menu ul {
	display: inline;
	margin: 0;
	padding: 0;
}
.menu ul li {display: inline-block;}
.menu a:hover {background: black;}
.menu li:hover ul {display: block;}
.menu ul li ul {
	position: absolute;
	width: 164px;
	display: none;
}
.menu ul li ul li { 
	background: #555; 
	display: block; 
}
.menu ul li ul li a {display:block;} 
.menu ul li ul li a:hover {background: #666;}
