body {
	font-family:Helvetica,Arial,serif;
}
.menu {
  display:none;
}
ul {
  list-style-type: circle ;
}

#titre {
	margin-bottom: 60px;
	font-size:20px;
	text-align:center;
}
#Formation h1, #Exppro h1,#Competence h1,#langue h1,#ca h1 {
	font-size:20px;
	margin-bottom:5px ;
	border-bottom: solid 1px;
	color:#01A9DB;
}
#Infoperso, #Formation, #Exppro,#Competence,#langue,#ca{
		font-size:12px;
		margin-bottom: 40px;
}

aside {
	display:none;
}
img {
	width:150px;
	height:140px;
	float: right;
}
