li {
	list-style: none;
	display:inline;
	margin-top:10px;
	margin-right:20px;
	font-size:35px;
	
}
		        
.menu {
	background-color:#A2B5BF;
	line-height:100px;
	max-height:5000px;
	min-height:10px;
	max-width:2000px;
	min-width:1000px;

}
li a {
	color:white;
	text-decoration:none;
}
li:first-child{
	border: 2px white solid;
	border-radius: 5px;
	padding:1px;
	line-height:230%;
	float:right;
	margin-right:10%;

}
li:nth-child(2) {
	margin-left: 20px;
}
a:hover{
	text-decoration:underline;
}
