/*https://www.web-font-generator.com/results?dir=40fbb74158fa999227e27623af604bd9*/
body {
	font-family: Helvetica,Arial,serif;	
}


@font-face {
	font-family: 'GeosansLightRegular';
	src:url('GeosansLight.ttf');	
	
}

#galerie {
text-align: center;
}
#galerie img{	
	width:200px;
	border:solid grey 5px;
}

.PageIntro {
	position:absolute;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background-image:url("http://www.e.lito.fr/interface/fond_index_elito.jpg");
  background-size:cover;
}
#Ludovic {
	margin-top:-70%;
	color:white;
	text-align:center;
	padding-bottom:10%;
}
#Mickael {
	color:white;
	text-align:center;
	padding-bottom:10%;
}
#Ali {
	color:white;
	text-align:center;
	padding-bottom:10%;	
}

.menu {
	position:absolute;
	top:0px;
	right:0px;
	font-size:13px;
	text-align :center;
	width:100%;
	background-color:#262020;
	opacity:0.7;
	
}

.menu div {
	display:inline-block;
	color:white;	
	text-decoration:none;
}	

.titre { 
	margin-top:25%;
	font-family: "GeosansLightRegular";
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	letter-spacing:5px; 
	color:black;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    display:inline-block;
}
.titre a {
	  text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 30px;
    display:inline-block;
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
div div a:hover {background: black;}
li:hover ul {display: block;}
ul li ul {
	position: absolute;
  width: 164px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block;} 
ul li ul li a:hover {background: #666;}

footer {
	color: white;
	text-align : center;
	padding-bottom:10%;
}
footer a {
	padding:20px;
	color: white;
	text-decoration:none;
}

